- id: ovs_install
  type: puppet
  version: 2.1.0
  groups: [compute, primary-controller, controller]
  requires: [setup_repositories]
  required_for: [netconfig]
  parameters:
    puppet_manifest: puppet/manifests/ovs-install.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 720
